/*******************************/
/* SEARCH SECTION */
/*******************************/
.section-search {
  padding: 9.6rem 0;
  background-color: #fdf2e9;
}

.search {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr;
}

.search-menu a {
  margin: 0 auto;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.search-image {
  width: 100%;
}

.food-fact {
  text-align: center;
}

.food-fact p {
  font-size: 2.6rem;
  margin-bottom: -4.6rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 2.6rem;
  border-radius: 9px;
  text-align: center;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #ffbd59;
  color: #333;
}

.btn--full:hover,
.btn--full:active {
  background-color: #ffca7a;
}

/*******************************/
/* FEATURE SECTION */
/*******************************/
.section-features {
  padding: 9.6rem 9.6rem;
}

.section-features .heading-secondary {
  padding-bottom: 2.4rem;
}

.videoDemo {
  padding-left: 5.6rem;
}

.videoDemoLink {
  display: block;
  padding-left: 5.6rem;
  width: 5.6rem important!;
}

.feature {
  background-color: #fae5d3;
  border-radius: 11px;
  padding: 2.4rem;
  text-decoration: none;
}

.feature-link {
  background-color: #fae5d3;
  border-radius: 11px;
  padding: 2.4rem;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.feature-link:hover {
  background-color: #fdf2e9;
}

.feature-name {
  color: #333;
  font-size: 3.2rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
}

.feature-description {
  font-size: 1.6rem;
  font-weight: 300;
}
.feature-img {
  position: relative;
  display: inline-block;
}

.feature-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 145%;
  background-color: #fdf2e9;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.feature-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 120%;
  background-color: #fae5d3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.feature-img img {
  width: 100%;
  border-radius: 9px;
  position: relative;
  z-index: 1;
}

/*******************************/
/* ABOUT */
/*******************************/
.section-about {
  padding: 9.6rem 9.6rem;
  background-color: #fdf2e9;
}

.about-description,
.about-api-description {
  font-size: 2.4rem;
  line-height: 1.6;
}

.about-api-description {
  margin-top: 5.6rem;
}

.image-collage {
  width: 100%;
}

.grid-collage {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 3.2rem;
}

.about-api-logos {
  display: flex;
  flex-direction: row;
  margin-top: 3.2rem;
  gap: 7.8rem;
  justify-content: center;
}

.api-logo {
  height: 20.2rem;
}
/*******************************/
/* Team */
/*******************************/
.section-team {
  padding: 9.6rem 9.6rem;
}

.about-team-img {
  width: 100%;
}

.profile-container {
  display: flex;
}

.profile-container h3 {
  text-align: center;
}

.creator-image {
  width: 100%;
  max-width: 40rem;
  height: 40rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.creator-image:hover {
  transform: scale(1.1);
  background: #e0ba88;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.creator-name {
  padding-top: 1.8rem;
}

.creator-role {
  padding-top: 0.8rem;
  text-align: center;
  margin: 0 auto;
}
