html {
scroll-behavior: smooth;
}

.bold {
font-weight: bold;
}

.recipe-specific-search-body{
    text-align: center;
}

.instruct{
    margin: 9.8rem 0 3rem 0;
}

.title {
    font-size: 4rem;
    font-weight: bold;
}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.search-container {
    margin-bottom: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.search-button {
width: 5rem;
height: 5rem;
margin-left: 1rem;
background-color: #ffbd59;
border: none;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: background-color 0.2s;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.search-button:hover {
background-color: #ffca7a;
}

#search-icon {
width: 2rem;
height: 2rem;
}

#ingredient-list-input {
    padding: 2rem 5rem;
    border-radius: 1rem;
    background-color: #e0ba88;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.recipe-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin-top: 3rem;
    margin-bottom: 9.8rem;
}

.search-result {
    background-color: #e0ba88;
    width: 350px;
    height: 25rem;
    border-radius: 10px;
    transition: 1s;
}

.search-result img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.search-result a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: #e0ba88;
    border-radius: 10px;
}

.search-result:hover {
    transform: scale(1.1);
    background: #e0ba88;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.search-result p{
    padding-top: .8rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}