.page {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.error-message-SBI {
    padding: 0;
    margin-left: 35rem;
    margin-top: 3rem;
    font-size: 1.6rem;
}

/*******************************/
/* Sidebar */
/*******************************/

.sidebar {
    display: flex;
    flex-direction: column;
    top: 9.6rem;    /*equal nav bar height*/
    padding-left: 4rem;
    padding-top: 3rem;
    padding-right: 2rem;
    margin-right: 2rem;
    background-color: #fdf2e9;
    width: 25rem;
    min-height: 100vh;
    position: fixed;
    left: 0;
    overflow-y: auto;
}

#title-SBI {
    font-size: 3.5rem;
    padding-bottom: 2.4rem;
}

#instruct-SBI {
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

.search-by-ingredient-search-button {
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
    background-color: #ffbd59;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.search-by-ingredient-search-button:hover {
    background-color: #ffca7a;
}

#search-by-ingredient-search-icon {
    width: 2rem;
    height: 2rem;
}

/*Inputs*/
.input-field {
    border: 1px solid #ddd;
    border-radius: 4px;
    align-self: center;
}

.ingredient-input {
    display: flex;
    flex-direction: row;
}

.ingredient-input input[type="text"] {
    text-decoration: none;
    color: black;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.6rem;
    width: 100%;
}

.ingredient-input button {
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: #ffbd59;
    color: black;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.ingredient-input button:hover {
    background-color: #ffca7a;
}

/*Ingredients list*/
#ingredient-list-title {
    font-size: 2rem;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.ingredient-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingredient-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 1.5rem;
    max-height: 37rem;
    overflow-y: auto;
}

.ingredient-item {
    color: black;
    display: flex;
    align-items: center;
    background-color: #E88E65;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: none;
    height: auto;
    width: fit-content;
}

.remove-button {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    margin-left: 1rem;
    font-size: 1.4rem;
    line-height: 1;
    cursor: pointer;
    border: 2px solid #6f6f6f;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.search-button-1 {
    background-color: #ffbd59;
    color: black;
    font-size: 1.8rem;
    padding: 2rem 2.5rem;
    margin-top: 2rem;
    border: none;
    width: fit-content;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.search-button-1:hover {
    background-color: #ffca7a;
}

/*******************************/
/* Main content */
/*******************************/

.recipe-list-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    gap: 4rem;
    margin: 3rem 10rem 4rem 35rem;
    flex-grow: 1;
    width: calc(100% - 45rem);
    transition: width 0.3s ease;
}

.recipe-card-1 {
    width: 33rem;
    height: 29rem;
    background-color: #e0ba88;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.75s;
}

.recipe-image-1 {
    align-self: center;
    width: 33rem;
    height: 25rem;
    border-radius: 10px;
}

.recipe-title-1 {
    padding-top: 0.5rem;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.6rem;
}

.recipe-card-1:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/*******************************/
/* Recipe Overview SBI */
/*******************************/

.section-ingredients-SBI,
.servings-text-SBI {
  padding-bottom: 2.4rem;
}

.section-ingredients-SBI li {
  list-style: none;
  font-size: 2.4rem;
  line-height: 4rem;
}

.servings-text-SBI {
  font-size: 2.2rem;
}

.recipe-link-SBI {
  background-color: #ffbd59;
  border-radius: 11px;
  padding: 2.4rem 2.4rem;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
  display: block;
  width: 30rem;
  text-align: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.recipe-link-SBI:hover {
  background-color: #ffca7a;
}

.section-instructions-SBI {
  padding-right: 2rem;

}

.section-instructions-SBI li {
  font-size: 2.4rem;
  list-style: none;
  line-height: 1.6;
}

.recipe-results-SBI {
  padding: 4.8rem 4.8rem;
  padding-bottom: 2rem;
}

.results-image-SBI {
  width: 70rem;
  border-radius: 11px;
  position: relative;
  z-index: 2;
}

.results-title-SBI {
  padding-bottom: 4.2rem;
  text-align: center;
}

.cooking-time-SBI {
  font-size: 2rem;
}
