html {
scroll-behavior: smooth;
}

section::before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;

background-size: cover;
background-position: center;
background-repeat: no-repeat;
filter: blur(6px);
z-index: -1;
}

.bold {
font-weight: bold;
}

/* Flex Box */
.horizontal-flex-container {
display: flex;
flex-wrap: wrap;
overflow-x: auto;
gap: 100px;
flex-direction: row;
}

.vertical-flex-container {
display: flex;
flex-wrap: wrap;
overflow-x: auto;
gap: 50px;
flex-direction: column;
}

.recipe-cards-container {
    display: grid;
    gap: 50px;
    justify-content: center;
}

/*Navigation Bar*/
.navigation-bar {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding-left: 50px;
padding-right: 100px;
padding-bottom: 15px;
background-color: white;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
box-shadow: 0px 5px 5px rgba(0 0 0/0.2);
}

.navigation-bar .image {
height: 50px;
object-fit: contain;
}

.logo {
padding-top: 10px;
padding-bottom: 10px;
}

.navbar a {
position: relative;
font-size: 18px;
color: black;
font-weight: 500;
text-decoration: none;
margin-left: 40px;
}

.navbar a::before {
content: "";
position: absolute;
top: 100%;
left: 0;
width: 0;
height: 2px;
background: black;
transition: 0.3s;
}

.navbar a:hover:before {
width: 100%;
}

.bottom-left {
position: fixed;
bottom: 2rem;
left: 2rem;
width: 50px;
height: 50px;
}

.bottom-right {
position: fixed;
bottom: 2rem;
right: 2rem;
width: 50px;
height: 50px;
}

#ingredient-list-input {
background-color: #e0ba88;
margin-top: 500px;
max-height: 50px;
width: 500px;
border-radius: 10px;
padding: 20px;
text-align: center;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
color: gray; /* Corrected color to a valid hex */
outline: none; /* Prevents default outline */
scrollbar-width: none;
resize: none;
}

.ingredient-list {
background-color: #e0ba88;
height: 600px;
width: 500px;
border-radius: 10px;
padding: 50px;
text-align: center;
}

.ingredient-list li {
list-style: none;
padding-bottom: 10px;
}

.container {
width: 500px;
padding: 20px;
/* background: #f9f9f9; */
display: flex;
justify-content: center;
}

.search-result {
background-color: #e0ba88;
width: 350px;
height: 220px;
border-radius: 10px;
transition: 1s;
}

.search-result img {
width: 350px;
height: 200px;
border-radius: 10px;
}

.search-result a {
text-decoration: none;
color: black;
text-align: center;
font-weight: bold;
}

.search-result:hover {
transform: scale(1.1);
background: #e0ba88;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
z-index: 2;
}
  