/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
text-GREY COLOR: #343a40 
background-OFF WHITE COLOR: #f5f5f5; */
html {
  background-color: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

.user-input {
  width: 50rem; /* TEMPORARY */
  height: 10rem; /* TEMPORARY */
  padding: 1rem; /* TEMPORARY */
}

/*Nutrition Facts*/
.nutritionFacts {
  margin-top: 2rem; /* TEMPORARY */
  margin-left: 2rem; /* TEMPORARY */
  padding: 5rem; /* TEMPORARY */
  max-width: 25rem; /* TEMPORARY */
  border-radius: 20px;
  background-color: #ffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.nutritionFacts ul {
  list-style-type: none;
  line-height: 24px;
}
.nutritionFacts p {
  text-align: right;
}

.subNutrients {
  padding-left: 15px;
}
